.recipes-list {
	margin: 0rem 5rem 5rem;
	list-style-type: none;
	padding: 0;

	/* For large screens */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
	/* grid-auto-rows: minmax(20rem, auto); */
}

.dot-loading {
	position: relative;
}

.dot-loading::after {
	content: ' ';
	position: absolute;
	animation: dot-loading-animation 1s infinite;
}

@media (max-width: 1080px) {
	.recipes-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 840px) {
	.recipes-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 620px) {
	.recipes-list {
		margin: 0 2rem 2rem;
		/* For extra small screens */
		display: flex;
		flex-direction: column;
	}
	.recipes-pagination {
		margin: 0 2rem 3rem;
	}
}

@keyframes dot-loading-animation {
	0% {
		content: '.';
	}
	50% {
		content: '. .';
	}
	100% {
		content: '. . .';
	}
}
