@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--main-accent: #226622;
	--main-accent-compliment: #ccc;
	--main-accent-dark: #151;
	--main-accent-darker: #113311;
	--main-background-color: #252525;
	--max-screen-width-1: 486px;
	--max-screen-width-2: 540px;
	--max-screen-width-3: 768px;
	--max-screen-width-4: 940px;
	--main-font-family: 'Muli';
	--main-transition-duration: 0.25s;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Muli', sans-serif;
}

body {
	margin: 0;
	background-color: var(--main-background-color);
	color: var(--main-accent-compliment);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--main-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-accent-darker);
	border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--main-accent);
}
